openai>=0.27.8
accelerate>=0.25.0
huggingface-hub==0.20.1
Pillow>=10.1.0
transformers>=4.36.2
torch>=2.0.1,<3.0.0
torchvision>=0.15.2
einops>=0.7.0
safetensors>=0.4.1
pillow>=9.4.0
py-cpuinfo
gitpython
moviepy
opencv-python
scikit-build
typing
diskcache
