accelerate>=0.27.0
auto-gptq>=0.7.0
bitsandbytes
cffi
diffusers
diskcache
einops>=0.7.0
gitpython
huggingface-hub>=0.20.3
moviepy
openai>=0.27.8
opencv-python
optimum>=1.17.0
pillow>=9.4.0
py-cpuinfo>=3.3.0
python-dateutil>=2.7.0
pytz
qwen-vl-utils
safetensors>=0.4.1
scikit-build
six
soundfile
symusic
torch>=2.0.1,<3.0.0
torchvision>=0.15.2
transformers>=4.38.2
typing
